
<suite name="AutomationSuite">

    <test name="RegressionSuite">
        <classes>
            <class name="Test.LoginTests"/>
            <methods>
        <include name="LoginSuite"/>
           </methods>
            <class name="Test.PIMTests"/>
                <methods>
        <include name="PIMsuite"/>
           </methods>
            <class name="Test.LeaveTests"/>
    <methods>
        <include name="LeaveSuite"/>
           </methods>
        </classes>
    </test>

</suite>
