<?xml version="1.0" encoding="UTF-8"?>

<suite name="AutomationSuite">
    <test name="RegressionSuite">
        <classes>
            <class name="Test.LoginTests">
                <methods>
                    <include name="LoginSuite"/>
                </methods>
            </class>
            
            <class name="Test.PIMTests">
                <methods>
                    <include name="PIMSuite"/>
                </methods>
            </class>
            
            <class name="Test.LeaveTests">
                <methods>
                    <include name="LeaveSuite"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>